
<p>Hello <%= @user.full_name %>,</p>

<p> Plese click the following link to reset your password! </p>
<br>
  <%= '#{@token}' %>
<p>Click: <%= link_to "Reset Password", href="http://localhost:3000/passwordreset?token=#{@user.reset_token}" %> </p>

<p>Regards,</p>

<p>Awesome Posts Team</p>
